$main_bg: #f9f9fb
$font_color: #00BA82

%circle
    fill: none
    stroke-linecap: round
    transform: rotate(90deg) scaleX(-1) translate(-100px, -100px)
    stroke-dasharray: 282
    stroke-dashoffset: calc(282 - (282 * 70) / 100)

%simple_box
    background: #FFFFFF
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14), 0px 1px 24px rgba(0, 0, 0, 0.12), 0px 2px 11px rgba(0, 0, 0, 0.2)
    border-radius: 31px

%simple_header
    font-weight: 500
    font-size: 36px
    line-height: 43px
    span
        color: $font_color
@font-face
    font-family: "Rubik"
    src: url(../fonts/Rubik-VariableFont_wght.ttf) format(truetype)

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap')
    
*
    color: white  
    margin: 0
    padding: 0
    list-style-type: none
    text-decoration: none
    color: #232429

body
    background: $main_bg
    font-family: "Rubik", sans-serif

.container
    padding: 0 6.39%
    // border-bottom: 1px solid #000
    
.header 
    box-shadow: -1px 0 5px rgba(35, 36, 41, 0.7)
    background-color: white
    .navigation_panel
        padding: 33px 0 34px 0

        display: flex
        justify-content: space-between
        align-items: baseline
        font-weight: 500
        font-size: 20px
        .navigation_list
            display: flex
            text-align: center
            align-items: center
            .lang
                padding-right: 8px
                border-right: 1px solid black
                &:last-child
                    padding-right: 0
                    padding-left: 8px
                    border: none
            .anchor
                margin-right: 40px
                &:last-child
                    margin-right: 0
            .link
                margin-right: 30.5px
                &:last-child
                    margin-right: 0

.main
    padding: 30px 0 150px 0
    .intro
        width: 408px
        display: block
        margin: 0 auto
        .specialization
            font-weight: 500
            font-size: 57px
            line-height: 68px
            margin: 0
        .name
            margin-top: 15px

    .discription
        margin-top: 13px
        display: flex
        justify-content: space-between
        .discription_list 
            display: flex
            flex-direction: column
            // justify-content: space-between
            align-items: center
            width: 29.72%
            .list_header
                font-weight: 500
                font-size: 40px
            dt
                font-size: 28px
                font-weight: 500
            dd
                font-size: 20px
                text-align: center
            .soft_skills
                margin-top: 80px
                display: flex
                flex-direction: column
                align-items: center
                text-align: center
                &:first-child
                    margin-top: 60px
                dd
                    margin-top: 12px
                    font-size: 28px
                    font-weight: 500
                    color: rgb(0, 186, 130)
            .myPhoto
                width: 408px
                height: 602px
                border: 1px solid $font_color
                box-sizing: border-box
                border-radius: 23px
        
            .Hard_skills
                margin-top: 70px
            svg
                z-index: 10
                margin-top: 65px    
                .progress_bar_base_border
                    @extend %circle
                    z-index: 1
                    stroke-dashoffset: 0
                    stroke: #f1f1f1
                    stroke-width: 10px
                    
                .progress_bar_base
                    @extend %circle
                    z-index: 2
                    stroke: white
                    stroke-width: 7px
                    stroke-dashoffset: 0
                    
                .progress_bar_bottom
                    @extend %circle
                    z-index: 3
                    stroke-width: 5px
                    stroke: #000
                    
                .progress_bar_top
                    @extend %circle
                    z-index: 4
                    stroke-width: 10px
                    stroke: rgba(0, 186, 130, 0.85)
            .skill_progress
                position: relative
                dt
                    position: absolute
                    top: -65px  
                &_css
                    right: -26px
                &_js
                    right: -16px
                &_html
                    right: -32px 
                dd
                    position: absolute
                    top: 3px
                    left: -19px
.expr
    margin-top: 49px
    padding: 40px 15%
    @extend %simple_box
    display: flex
    justify-content: space-around
    text-align: center
    &_block
        font-weight: 500
        font-size: 24px
        dd
            margin-top: 16px
            color: $font_color
            font-size: 28px
.aboutMe
    margin-top: 250px
    &_header
        width: 280px
        @extend %simple_header
    &_data
        margin-top: 24px
        @extend %simple_box
        display: flex
        ul
            list-style-type: disc
            margin: 111px 196px 111px 0
            font-size: 20px
            line-height: 24px
            display: flex
            flex-direction: column
            justify-content: space-between
            li
                list-style-type: disc
.myJob
    margin-top: 245px
    &_header
        @extend %simple_header
    .progects_bar
        margin-top: 24px
    .progects_description
        margin-top: 26px
        display: flex
        .preview
            width: auto
            height: 392px
        .preview_description
            display: flex
            flex-direction: column
            font-weight: 500
            margin-left: 16px
            &_header
                font-size: 24px
            &_container
                font-size: 20px
                margin-top: 30px
                &:first-child
                    margin-top: 36px
                dd
                    color: $font_color
                    margin-top: 14px
                    a
                        color: #5F00E6
                        margin: 0 16px
                        &:first-child
                            margin-left: 0
                        &:last-child
                            margin-right: 0
    .job_progress
        h3
            margin-top: 26px
            font-weight: 500
            font-size: 20px
        p
            margin-top: 15px
            font-size: 20px       
.footer
    background: white
    padding: 104px 0 153px 0
    &_header
        font-weight: 500
        font-size: 36px
    &_allinfo
        display: flex
    &_contact
        display: flex
        flex-direction: column
        width: 250px
        margin-right: 18%
    &_callback
        


    
                


    
