@media (max-width:1025px){
    .mainHeader{
        font-size: 60px;
    }
    .img{
        object-position: 0 -20px;
    }
    .title{
        font-size: 25px;
    }
    .titleHeader{
        font-size: 50px;
    }
    .description{
        font-size: 18px;
        /* width: 29.2%; */
    }
}
@media (max-width:769px){
    .mainHeader{
        font-size: 50px;
    }
    .title{
        font-size: 20px;
    }
    .titleHeader{
        font-size: 40px;
    }
    .other{
        width: 50%;
        border: 5px solid #ff8f00;
    }
    .imageBox{
        flex-direction: column;
    }
    .description{
        /* width: 150%; */
        max-width: 100%;
        width: 100%;
        text-align: center;
        font-size: 15px;
        width: none;
    }
}
@media (max-width:600px){
    .mainHeader{
        font-size: 30px;
    }
    .title{
        font-size: 17px;
        margin-bottom: 50px;
    }
    .titleHeader{
        font-size: 25px;
    }
    .img{
        border: 3px solid #ff8f00;
    } 
    .imageBox{
        margin-top: 40px;
    }
    .description{
        text-align: center;
        font-size: 12px;
        /* width: none; */
    }
}
@media (max-width:376px){
    .mainHeader{
        font-size: 24px;
    }
    .title{
        font-size: 14px;
    }
    .titleHeader{
        font-size: 22px;
    }
    .img{
        border: 3px solid #ff8f00;
    } 
    .imageBox{
        margin-top: 40px;
    }
    .description{
        text-align: center;
        font-size: 12px;
        /* width: none; */
    }
}